body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
p {
    text-align: left;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    /* outline: 1px solid black; */
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container__top {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.header__top-inner {
    padding-top: 35px;
    display: flex;
    min-width: 100%;
}

.menu {
    margin: 0 auto;
}

.menu__btn {
    display: none;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li+li {
    margin-left: 45px;
}

.menu a {
    text-decoration: none;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #FFF;
}

.header__content {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;
    color: #0D302C;
}

.header__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    text-align: center;
}

.header--drop {
    margin-bottom: 5vh;
}

.about {
    min-height: 100vh;
    background-color: #fff;
    /* background-color: aquamarine; */
}

.about__title {
    padding-top: 190px;
    margin-bottom: 100px;
    text-align: center;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #01353E;
    text-transform: uppercase;

    display: inline-block;
    position: relative;
    padding-right: 50px;
}

.title::after {
    content: "";
    position: absolute;
    background-image: url(../images/slash.svg);
    background-repeat: no-repeat;
    width: 48px;
    height: 85px;
    right: 0;
    top: 15px;
}

.about__content-item {
    display: inline-flex;
    margin: 0 auto;
}

.about__content-item p {
    text-align: left;
    width: 480px;
    margin-bottom: 30px;
    margin-right: 120px;
}

/*///////////////////////////////////*/
.recieve {
    background-color: #F8F8F8;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.recieve__title {
    margin-bottom: 101px;
}

.recieve__items {
    display: flex;
    justify-content: space-between;
}

.recieve__item {
    text-align: center;
    width: 350px;
}

.recieve__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
    text-transform: uppercase;

    display: inline-block;
    padding-left: 55px;
    position: relative;
    margin: 0 auto;
    min-height: 75px;
    vertical-align: top;

}

.recieve__item-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 50px;
}

.recieve__item--sun::before {
    background-image: url(../images/sun.svg);
    background-repeat: no-repeat;
}

.recieve__item--plane::before {
    background-image: url(../images/plane.svg);
    background-repeat: no-repeat;
}

.recieve__item--surfer::before {
    background-image: url(../images/surfer.svg);
    background-repeat: no-repeat;
}

/*==============================*/

.recieve__bottom {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.recieve__rate {
    text-align: left;
    min-width: 350px;
}

.recieve__rate-item--ratio {
    vertical-align: text-bottom;
    /*необязательно*/
    line-height: 18px;

    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #242121;
}

.recieve__rate-item--ratio img {
    display: inline;
    vertical-align: bottom;
}

.recieve__text {
    max-width: 600px;
}

.recieve__text p {
    margin-bottom: 30px;
}

/*///////////////////////////////////////*/
.peaks {
    background-image: url(../images/peaks-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: 51vw;
    background-position-y: top;
}

.peaks__inner {
    /* padding-top: 200px;
    margin-bottom: 350px; */
    padding: 200px 0 350px;
    max-width: 600px;
}

.title {
    margin-bottom: 100px;
}

.peaks__title {}

.peaks__text {
    max-width: 507px;
}

.peaks__text p {
    margin-bottom: 30px;
}

/*///////////////////////////*/

.gallery {
    padding-top: 268px;
    margin-bottom: 190px;
    /* text-align: center; */
}

.gallery__buttons {
    margin-bottom: 50px;
}

.gallery__btn {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;

    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

.mixitup-control-active {
    color: #00B2A0;
}

.gallery__btn+.gallery__btn {
    margin: 0 10px;
}

.gallery__photos {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.gallery__photo {
    max-height: 280px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    position: relative;
}

.gallery__photo-link {
    position: absolute;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.gallery__photo:hover .gallery__photo-link {
    opacity: 0.7;
}

.gallery__photo img {
    max-height: 280px;
}

.gallery__see-more {
    text-align: center;
    padding-top: 33px;
    margin-bottom: 224px;
}

.gallery__see-more-link {
    text-decoration: none;
    text-transform: uppercase;

    font-weight: 400;
    font-size: 23px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;

    padding: 23px 91px;
    border: 1px solid #C4C4C4;
}

.blockquote {
    background-color: #F8F8F8;
    padding: 100px 0;
    margin-bottom: 200px;
}

.blockquote__inner {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;

    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.6px;
    color: #242121;
}

.blockquote__author {
    display: block;
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.gallery__video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    margin: 0 -10px 200px;
}

.gallery__video--play {
    border-left: ;
}

/*попробовать сделать линк в картинке а не наоборот*/

.gallery__statistics {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}

.gallery__stat-item {
    text-align: center;

    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.6px;
    color: #01353E;
}

.gallery__stat-item span {
    display: block;
    padding-top: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #242121;
}

.blog {
    margin-bottom: 200px;
    text-align: center;
}

.blog__title {
    margin-bottom: 230px;
}

.blog__slider {
    background-image: url(../images/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* min-height: 800px;  */
}

.blog__slider-inner {}

.slider__item {
    text-align: left;
    padding-top: 230px;
    padding-bottom: 200px;
}

.slider__item-link {
    text-decoration: none;
    max-width: 600px;
    margin-left: auto;
    display: block;
}

.slider__item-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding-right: 20px;
}

.slider__item-text {
    max-width: 600px;
    margin-left: auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding-right: 20px;
}

ul.slick-dots {
    display: inline-flex;
    margin-bottom: 77px;
}

.slick-dots li+li {
    margin-left: 15px;
}

.slick-dots button {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    border: none;
}

.slick-active button {
    background-color: #00B2A0;
}

/*//////////////////////////////////////*/
.team {
    margin-bottom: 204px;
    text-align: center;
}

.team__title {
    margin-bottom: 212px;
}

.team__members {
    display: flex;
    justify-content: space-between;
}

.team__item {}

.team__item-title {
    padding-top: 25px;
    margin-bottom: 5px;
}

.team__item-position {}

/*//////////////////////////////*/
.pricing {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background: #F8F8F8;
}

.pricing__title {
    margin-bottom: 183px;
}

.pricing__tariff {
    display: flex;
    justify-content: space-between;
}

.pricing__tariff-item {
    padding: 42px 45px 125px;
    background: #FFFFFF;
    width: 360px;
    position: relative;
}

.pricing__tariff-title {
    margin-bottom: 58px;

    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
}

.conditions {}

.conditions li {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    margin-bottom: 20px;
}



.pricing__tariff-cost {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 45px;
}

.pricing__tariff-cost sup {
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
    vertical-align: middle;
}

.map {
    background: #F2F2F2;
    padding: 200px 0;
}

.map__item {
    min-height: 640px;
    background-image: url(../images/map.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.forma {
    margin-bottom: 200px;
    text-align: center;
}

.form__title {
    margin-bottom: 243px;
}

.forma__inner {
    display: flex;
    justify-content: space-between;

}

.form {
    max-width: 580px;
}

.form input,
.form textarea {
    border: none;
    width: 100%;
    border-bottom: 2px solid #DADADA;
    display: inline-block;
    height: 38px;
}

.form ::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #00B2A0;
    max-width: 260px;
}

.form__name {
    margin-bottom: 32px;

}

.form__phone {
    margin-bottom: 53px;
}

.form__textarea.form__textarea {
    resize: none;
    height: 156px;
    margin-bottom: 73px;
}

.form button {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;

    text-align: center;
    background-color: transparent;
    border: 1px solid #C4C4C4;
    padding: 24px 111px;
}

.contacts {
    flex-basis: 600px;
    padding: 49px 221px 71px 52px;
    background: #F8F8F8;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.6px;
    color: #242121;
}

.contacts p+p {
    padding-top: 65px;
}

.social {
    padding-top: 200px;

}

.social a {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;

    display: inline-block;
    padding: 10px;
}

.social a:hover {
    color: #00B2A0;
}

.footer {
    background: #00B2A0;
    text-align: center;
    padding: 28px 0;
}

.footer img {
    display: inline;
}

@media (max-width: 1250px) {
    .about__content-item {
        display: block;

    }

    .title {
        padding-right: 0;
    }

    .title::after {
        display: none;
    }

    .gallery__photos {
        max-width: 100vw;
    }
}

@media (max-width: 992px) {
    .menu li+li {
        margin-left: 15px;
    }

    .recieve__items {
        display: block;
    }

    .recieve__item {
        margin: 0 auto 20px;
        width: auto;
    }

    .title {
        font-size: 36px;
        line-height: 42px;
    }

    .peaks {
        background-image: none;
    }

    .peaks__inner {
        max-width: none;
    }

    .peaks__text {
        max-width: none;
    }

    .peaks__title {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .menu {
        margin: 0 0 0 auto;
    }

    .menu ul {
        margin: 0;
        padding: 90px 0 15px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #ccc;
        text-align: center;
        transform: translateY(-200%);
        transition: all .5s;
    }

    .menu.menu li {
        margin: 15px 0;
    }

    .logo {
        position: relative;
        z-index: 2;
    }

    .menu__btn {
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        /* cursor: pointer; */
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        z-index: 2;
    }

    .header__top-inner rect,
    .header__top-inner path {
        transition: all 0.5s;
    }

    .header__top-inner.header__top-inner--active ul {
        transform: translateY(0);
    }

    .header__title {
        font-size: 130px;
        line-height: 175px;
    }

    .header__text {
        font-size: 18px;
        line-height: 22px;
    }

    .about__content-item p {
        width: auto;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .about__title {
        padding-top: 70px;
        margin-bottom: 0;
    }

    .recieve {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .recieve__bottom {
        display: block;
        padding-top: 50px;
    }

    .recieve__item-title {
        font-size: 20px;
        line-height: 25px;
    }

    .recieve__text {
        padding-top: 35px;
    }

    .peaks__inner {
        padding: 70px 0 100px;
    }
    .forma__inner{
        display: block;
    }
    .pricing__tariff{
        display: block;
    }
    .pricing__tariff-item{
        width: auto;
    }
    .gallery__statistics{
        display: block;
    }
    .form button{
        padding: 24px 68px;
    }
    .team__members {
        display: block
    }
}

@media (max-width: 460px) {
    .header__title {
        font-size: 80px;
        line-height: 105px;
    }

    .header__text {
        font-size: 16px;
        line-height: 20px;
    }

    .recieve__rate {
        min-width: 250px;
    }

    .recieve__rate-item--ratio {
        font-size: 20px;
        line-height: 22px;

    }
}